@import url(fontawesome-all.min.css);

* {
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 0.8vw;
    font-weight: 800;
}

@media screen and (max-width: 1600px) {
    
}
#num{
    position: absolute;
    right: 12em;
    bottom: 15em;
}
@media screen and (max-width: 600px) {
    #display{
        display: flex;
        position: fixed;
        top: 0;
        width: 75%;
        height: auto;
        background: linear-gradient(to bottom, #1713e0c9, #0c070088, #096de0d0);
        left: 0;
    }
    #displayImg{
        background-repeat:no-repeat;
        background-size:contain;
        width: auto;
        height: auto;
    }
    #num{
        position: absolute;
        right: 5em;
        bottom: 10em;
    }
}

#display{
    display: flex;
    position: fixed;
    top: 0;
    width: 75%;
    height: 100%;
    background: linear-gradient(to bottom, #1713e0c9, #0c070088, #096de0d0);
    left: 0;
}
#displayImg{
    background-repeat:no-repeat;
    background-size:cover;
    width: auto;
    height: auto;
}
header{
    display: block;
    position: fixed;
    top: 0;
    width: 20%;
    height: 100%;
    background: linear-gradient(to top, #1713e0c9, #0c070088, #096de0d0);
    right: 0;
    display: block;
    padding: 2.5%;
}

#albumName{
    font-size: 2.5em;
    background: linear-gradient(to top, #850e49c9, #25180688, #0b233dd0);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
hr{
    border: 1px solid black;
    background-color: black; 
}
#albumName:hover,hr:hover{
    opacity: 0.5;
}

#preview {
    margin-top: 7vh;
    display: block;
    height: 40%;
    width: 100%;
    overflow: auto;
}
#preview::-webkit-scrollbar{
    width: 0.6vw;
    height: 5vh;
    background-color: #aaa; /* or add it to the track */
}
#preview::-webkit-scrollbar-thumb {
    background-color: rgb(231, 131, 131); /* or add it to the track */
  }
#preview article {
    width: 90%;
    padding-left: 5%;
    /* height: auto; */
    display:flex; 
    overflow: hidden;
    align-items:center;
    justify-content:center;
    border: 0.3em solid rgba(0, 0, 0, 0);border-style:ridge;border-radius: 0.3em;
}  
article img {
    /* max-width: 100%; */
    width: 100%;
    overflow: hidden;
    cursor:pointer;    
}
article img:hover {
    transform: scale(1.1);
    overflow: hidden;
    opacity: 0.5;
}



button:hover{
    transform: scale(1.1);
    overflow: hidden;
}
.disabled {
    opacity: 0.2;
}
.disabled:hover {
    border-color: transparent !important;
    cursor: not-allowed;
}
#prev{
    float: left;
    position: relative;
    margin-top: 1em;
    width: 60px;
    height: 30px;
}
#next{
    float: right;
    position: relative;
    margin-top: 1em;
    width: 60px;
    height: 30px;
}
#deletePhoto,#deleteAlbum{
    float: right;
    position: relative;
    margin-left: 1em;
    width: 80px;
    height: auto;
    background-color: goldenrod;
    opacity: 0.5;
}
#addPhoto,#addAlbum{
    float: right;
    position: relative;
    width: 30px;
    height: auto;
    background-color: purple;
    opacity: 0.5;
}
#addPhoto:hover,#addAlbum:hover,#deletePhoto:hover,#deleteAlbum:hover{
    opacity: 1;
}

#album>button{
    position: relative;
    overflow: hidden;
    width: auto;
    height: 40px;
    border-radius: 5%;
    cursor: pointer;
    color: #000000;
    font-weight: bold;
    opacity: 1;
    background-color: rgb(145, 173, 102);
}
#album>*:hover{
    opacity: 0.5;
}